# ============================================================
# Python Byte-Compiled Files
# ============================================================

__pycache__/
*.py[cod]
*.pyo


# ============================================================
# Log Files
# ============================================================

*.log


# ============================================================
# Virtual Environments
# ============================================================

venv/
.venv/
.env/


# ============================================================
# Python Packaging / Build Files
# ============================================================

*.egg
*.egg-info/
dist/
build/
*.wheel


# ============================================================
# PyInstaller
# ============================================================

*.manifest
*.spec


# ============================================================
# Unit Testing / Coverage Reports
# ============================================================

coverage/
*.cover
*.coverage
*.coverage.*
.cache/
nosetests.xml
coverage.xml
*.coveragerc


# ============================================================
# Editor / IDE Files
# ============================================================

.vscode/
.idea/
*.swp
*.swo


# ============================================================
# Operating System Files
# ============================================================

.DS_Store
Thumbs.db